snippet tl "descripcion" A
# ----------------------------------------- $1
endsnippet
snippet tL "titulo" A
# ========================================= $1
endsnippet

snippet sp "comentario lineal" A
snippet ${1:comando} "${2:comentario lineal}" A
$3
$0endsnippet
endsnippet
