snippet ct "titulo" A
" -------------------------------- $3
endsnippet

snippet prueba "comentario lineal" b
esto es una prueba de escritura
endsnippet

snippet wow "comentario lineal" A
primera $1 segunda $2 tercera $3
endsnippet
snippet waw "comentario lineal" b
saludame $1 despidete $2 me gusto? $3
endsnippet
